@charset "UTF-8";

header {
  padding: 40px 0;
  background-image: url("../assets/background.png");
  background-position: center center;

  h1,
  h2 {
    color: #fff;
  }

  h1 {
    font-size: 40px;
    text-shadow: 0 0 5px #212121;
  }

  h2 {
    font-size: 28px;
    text-shadow: 0 0 5px #212121;
  }
}
